.logo {
  display: flex;
  align-items: center; 
  padding-top: 1.6rem; 
   transition: transform 0.3s ease;
}
.logoSmall {
  transform: scale(0.7); 
  padding-top: 1rem; 
}

  .logoSmall {
    transform: none;  
  }
  
@media (max-width: 1200px) {

  .logoSmall {
  transform: scale(0.9); 
  padding-top: 1rem; 
}
}
