.logo {
  display: flex;
  align-items: center; 
  padding-top: 2rem; 
   transition: transform 0.3s ease;
}
.logoSmall {
  transform: scale(0.6); 
  padding-top: 1rem; 
}

@media (max-width: 1200px) {
  .logo img {
    width: 150px;
    height: 110px;
  }
}
