
.logo {
  display: flex;
  align-items: center; /* Vertikaliai centruoja */
 padding-top: 1rem;        /* Pašalina papildomą tarpą */
  margin: 0;
  height: 100px;       /* Sumažink jei reikia */
}


@media (max-width: 1200px) {
  .logo {

}
}