.wrapper {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
  gap: 0.5rem;
  margin-top: -130px; 
}

@media (max-width:510px) {
 .wrapper {
 
  grid-template-columns: 1fr;
 margin-top: -200px;
 }

}