.itemWrapper {
 display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid #ddd; 
  width: 100%; 
  box-sizing: border-box;
}

.iconText {
  display: flex;
  align-items: center;
  gap: 0.4rem; 
  font-size: 0.95rem;
}

.icon {
  color: var(--orange);
}

.itemWrapper h2 {
  font-size: 13px;
  font-family: var(--font-primary);
  padding-bottom: 0.5rem;
  font-weight: 600;

}
.rightSide h2 {
  padding-left: 1.3rem;
}
.itemWrapper p{
font-size: 0.8rem;
font-family: var( --font-second);
}