.cityWrapper {
  width: 600px;
  background: var(--background);
  overflow: hidden;
  box-shadow: 0 10px 20px var(--shadow);
  border: 0.5px solid var(--border);
  display: flex;
  flex-direction: column;

}

.header {
  position: relative;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;

}

.title {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  color: var(--white);
}

.title span {
  text-transform: uppercase;
  font-size: 0.85rem;
  opacity: 0.85;
 font-family: var( --font-primary);
 
}

.title h2 {
  font-size: 1.7rem;
  margin: 0;
  padding-bottom: 2rem;
   font-family: var( --font-primary);
}

.items {
background-color: var(--background);
}


