.select {
  width: 100%;
  border-radius: 15px;
  padding: 0.6rem;
  border: 1px solid rgb(185, 184, 184);
  font-family: var(--font-primary);
  font-size: 1rem;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.select:focus {
  outline: none;
  border-color: var(--orange);
}

.buyButton {
  width: 100%;
  padding: 0.6rem;
  border-radius: 15px;
  border: 1px solid var(--orange);
  background-color: var(--orange);
  color: white;
  transition: 0.3s ease-in-out;
  font-weight: bold;
  font-family: var(--font-primary);
  font-size: 0.9rem;
}

.buyButton:hover {
  background-color: white;
  color: var(--orange);
}

.buyButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
