.sectionWrapper {
width: 100%;
display: flex;
gap: 3rem;
justify-content: space-between;
padding: 2rem 0;
}

.image{
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 386px;
  object-fit: cover;
}

.textContent {

}

.title {
font-family: var(--font-primary);
color: var(--orange);
font-size: 2.95rem;
font-weight: 600;
padding-bottom: 1rem;
}

.text {
font-family: var(--font-second);
font-size: 0.95rem;
font-weight: 400;
line-height: 27px;
margin-bottom: 1rem;
}


@media (max-width: 1224px) {
.sectionWrapper {
  flex-wrap: wrap;
   justify-content: center;
}
.image {
  order: -1;
}
}

@media (max-width: 768px) {
.title {
  font-size: 2.3rem;
}
}