.circle {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(212, 187, 162, 0.2);
}
.right {
  flex-direction: row-reverse;
  text-align: right;
}

.circleRight {
  left: auto;
  right: -20px;
}


.circleSmallLeft {
  left: -2rem;
}

.circleSmallRight {
  right: -2rem;
}

.circleSmall {
 position: absolute;
  top: -1rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--orange);
}