.avatar {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: #444;
  flex-shrink: 0;
}

.image {
  object-fit: cover;
  border-radius: 50%;
}


.small {
  width: 90px;
  height: 90px;
}

.large {
  width: 128px;
  height: 128px;
}
