.footerInfo {
  color: var(--orange);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}

.footerInfo h2 {
  font-family: var(--font-primary);
  font-size: 23px;
  font-weight: 600;
}

.footerInfo nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerInfo nav ul li {
  list-style: none;
}

.footerInfo nav ul li a {
color: var(--white);
text-decoration: none;
font-family: var(--font-second);
font-size: 13.5px;
cursor: pointer;
}

.footerInfo nav ul li a:hover { 
  color: var(--orange);
}

@media (max-width: 550px) {
  .footerInfo h2 {
      font-size: 16px;
  }

}