.footerInfo {
  color: var(--orange);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.adressInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerInfo h2 {
  font-family: var(--font-primary);
  font-size: 23px;
  font-weight: 600;
}

.footerInfo p {
  color: var(--white);
  font-family: var(--font-second);
  font-size: 13.5px;
  font-weight: 400;
}

.infoBlock {
  display: flex;
  gap: 1rem;
}

.link {
  color: inherit;
  text-decoration: none;
     cursor: pointer;
}

.link:hover {
  text-decoration: underline; 
}



@media (max-width: 550px) {
  .footerInfo h2 {
    font-size: 16px;
  }
  .footerInfo p {
    font-size: 11.5px;
    padding-right: 1rem;
    max-width: 103px;
  }
}
