.contactSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
  position: relative;

}
.titleBlock {
  position: relative;
  margin-bottom: 2rem;
}

.bubble {
  position: absolute;
  top: -30px;
  left: -55px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: rgba(212, 187, 162, 0.2);
  z-index: 0;
}

.bubbleSmall {
  position: absolute;
  top: -40px;
  left: -50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--orange);
  z-index: 0;
}
.title {
  position: relative;
  z-index: 1;
  color: var(--orange);
  font-family: var(--font-primary);
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.contactInfo {
  font-family: var(--font-second);
  font-size: 15px;
  line-height: 1.7;
  max-width: 430px;
}


.icon {
  margin-top: 0.5rem;
  width: 21px;
  height: 21px;
 color: var(--orange);
}
.infoBlock {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  line-height: 27px;

}


.contactSection h4 {
  font-family: var(--font-primary);
  font-size: 13.5px;
  font-weight: 600;
  letter-spacing: 0.5px;

}

.markOsloWord {
  font-size: 1.2rem;
  font-weight: 600;
}



.link {
  color: inherit;
  text-decoration: none;
   cursor: pointer;
}

.link:hover {
  text-decoration: underline; /* arba spalva */
}
@media (max-width: 900px) {
  .contactSection {
    grid-template-columns: 1fr;
  }
}