.cancelWrapper {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.cancelWrapper h1  {
  font-size: 3rem;
  padding-bottom: 2rem;
  font-family: var(--font-primary);
  color: var(--orange);
}

.cancelWrapper p {
  font-size: 1.5rem;
  font-family: var(--font-second);
  padding-bottom: 3rem;
}

.tryAgainBtn {
text-decoration: none;
background-color: var(--orange);
padding: 0.7rem 3rem;
color: white;
border-radius: 25px;
font-weight: 600;
font-family: var(--font-primary);
}