
.container {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;
}
.sectionTitle {
  margin-top: 3rem;
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.testimonialCard {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 5rem;
}

